---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout>
  <section class="max-w-7xl mx-auto my-10 p-5">
    <ul class="grid gap-5 lg:grid-cols-2">
      {
        posts.map((post) => (
          <li class="h-36 border border-black rounded-xl overflow-hidden p-2">
            <a href={`/blog/${post.slug}/`} class="flex gap-5 h-full">
              <div class="flex-[1.7_1.7_0] h-full flex flex-col justify-between">
                <div class="flex flex-col gap-1">
                  <div class="flex items-center gap-1">
                    <Icon name="healthicons:ui-user-profile" class="text-3xl" />
                    <p class="font-medium text-sm">{post.data.author}</p>
                  </div>
                  <h4 class="text-xl font-semibold">{post.data.title}</h4>
                </div>
                <p class="text-gray-500 text-sm">
                  {post.data.readingTime} read ·{" "}
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
              <div class="flex-1 h-full">
                <img
                  src={post.data.heroImage}
                  alt=""
                  class="h-full object-cover w-full rounded-xl"
                />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
