---
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PrivatePilotImage from "../../../public/img/training-courses/private-pilot.webp";
import InstrumentPanelRatingImage from "../../../public/img/training-courses/instrument-panel.webp";
import CommercialPilotImage from "../../../public/img/training-courses/commercial-pilot.webp";
import CertifiedFlightInstructorImage from "../../../public/img/training-courses/cfi.webp";
import CertifiedFlightInstructorInstrumentImage from "../../../public/img/training-courses/cfi-instrument.webp";
import MilitaryRotorTransitionImage from "../../../public/img/training-courses/military.webp";
import TrainingCourseCard from "../../components/TrainingCourseCard.astro";
---

<BaseLayout>
  <header
    class="relative h-screen-3/4 bg-training-courses bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div class="absolute bg-black/50 w-full h-full z-0"></div>

    <div class="text-white text-center z-10">
      <h1 class="text-5xl font-bold tracking-tighter">
        Our Pilot Training Courses
      </h1>
      <h2 class="text-3xl pt-5 tracking-wide">
        From PPL to Airline to Military, you’ll find it here with Red Arrow
        Flight Academy
      </h2>
      <a href="#contact-us"
        ><button class="mt-5 btn-red">Train with Us</button></a
      >
    </div>
  </header>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-white to-gray-200 p-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Pilot Training Program Structure
    </h2>
    <h3 class="pt-10 text-xl italic">
      We offer both accelerated and flexible training programs to fit your
      schedule and goals.
    </h3>
    <div
      class="flex flex-col lg:flex-row gap-16 max-w-7xl my-12 items-center lg:items-stretch"
    >
      <div class="shadow-xl shadow-gray-400 py-10 px-14 bg-white">
        <h4 class="text-2xl font-semibold p-5 pt-0 text-center uppercase">
          Accelerated Track
        </h4>
        <ul class="list-disc flex flex-col gap-5">
          <li>
            <p class="font-medium text-xl pb-1">Full Time</p>
            <p>
              Are you ready to commit your days to becoming a pilot in the most
              efficient way possible? This is the program for you then. Join us
              daily for training sessions and learn to be a pilot fast.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Fly Often</p>
            <p>
              We would like you to fly as often as we can get a plane in the air
              on this accelerated learning path–weather and maintenance
              permitting.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Move Quickly</p>
            <p>
              If you can commit the required amount of hours to airtime, we’ve
              had students complete training in as little as 8 weeks. Depending
              on weather conditions, we cannot guarantee this, but we can
              certainly move as quickly as possible to get you into the air.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Intense, but Rewarding</p>
            <p>
              Pilot training isn’t easy; it takes serious commitment to study
              and practice. That’s not to say it's out of reach for anyone
              considering training. Our best-in-class training courses and CFIs
              will take you under their wings as you delve deep into the world
              of flight. The commitment is a strong one, but always rewarding in
              the end.
            </p>
          </li>
        </ul>
      </div>
      <div class="shadow-xl shadow-gray-400 py-10 px-14 bg-white">
        <h4 class="text-2xl font-semibold p-5 pt-0 text-center uppercase">
          Flexible Learning
        </h4>
        <ul class="list-disc flex flex-col gap-5">
          <li>
            <p class="font-medium text-xl pb-1">Flexible Hours</p>
            <p>
              We don’t expect pilot training to dominate all of our students’
              days. If you’re not able to fly every day, we still have a program
              that is as flexible as you want to make it.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Fly When You Can</p>
            <p>
              Fly 1 to 3 times a week and take breaks as necessary. If
              scheduling becomes an issue even then, we would be happy to
              accommodate your personal and professional responsibilities to
              ensure you’re still evoking valuable training from our flight
              school.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Longer Road to Completion</p>
            <p>
              The rule of thumb is the more you fly, the quicker you complete
              your training. All training courses require a minimum number of
              hours of practice, so if you don’t fly as often, it may take
              longer to complete. That being said, we’ve had students complete
              training from anywhere between 2 and 18 months.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Less Intense</p>
            <p>
              The flexible learning route enables you to take however much time
              is necessary to digest and practice your skills. While less
              intense, this is also what may extend pilot training duration past
              those in our accelerated programs.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn-red px-12">Start Now</button>
  </section>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-main-red to-red-900 text-white p-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Our Training Courses
    </h2>
    <h3 class="pt-10 text-xl italic">
      Check out each of our training course pages for more information on what
      it entails and where it fits on your pilot training path.
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 py-10">
      <TrainingCourseCard
        image={PrivatePilotImage}
        description="Private Pilot License"
      />
      <TrainingCourseCard
        image={InstrumentPanelRatingImage}
        description="Instrument Panel Rating"
      />
      <TrainingCourseCard
        image={CommercialPilotImage}
        description="Commercial Pilot License"
      />
      <TrainingCourseCard
        image={CertifiedFlightInstructorImage}
        description="Certified Flight Instructor (CFI)"
      />
      <TrainingCourseCard
        image={CertifiedFlightInstructorInstrumentImage}
        description="Certified Flight Instructor Instrument (CFII)"
      />
      <TrainingCourseCard
        image={MilitaryRotorTransitionImage}
        description="Military Rotor/Transition"
      />
    </div>
  </section>

  <DiscoveryFlightCTA />

  <ContactUs />
</BaseLayout>
