---
import DiscoveryFlightCTA from "../components/DiscoveryFlightCTA.astro";
import ContactUs from "../components/ContactUs.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import TrainingProgramImage from "../../public/img/training-program.webp";
import DiscoveryFlightImage from "../../public/img/discovery-flight.webp";
import MilitaryProgramImage from "../../public/img/military-program.webp";
import InternationalProgramImage from "../../public/img/international-program.webp";
import WeAreRedArrowImage from "../../public/img/we-are-red-arrow.jpg";
---

<HomeLayout>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-home bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div class="text-white text-center z-10 flex flex-col items-center gap-4">
      <h1 class="text-5xl font-bold tracking-tight">Become a Pilot</h1>
      <h2 class="text-3xl tracking-wide">
        Your Cessna Pilot Center Flight School in Santa Teresa, NM
      </h2>
      <a href="#contactUs" class="btn-red">Contact Us</a>
    </div>
  </header>

  <!-- Section 1 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row bg-gradient-to-br from-white to-gray-200"
  >
    <div class="lg:w-1/2 flex flex-col items-center lg:py-10">
      <img
        src={TrainingProgramImage.src}
        alt="CFI gazes into the rotating propellers of a Cessna 172 at Red Arrow Flight Academy"
        class="h-[500px] object-cover"
        loading="lazy"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-5 lg:px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          Our Flight Training
        </h2>
        <h3 class="pt-10 text-xl italic text-center">
          Navigate the skies with confidence through Red Arrow Flight Academy's
          tailored training programs.
        </h3>
        <div class="text-gray-800 tracking-wider">
          <p class="pt-10">
            Every beginner pilot’s training starts with the Private Pilot
            program, where we help build a solid foundation of comprehensive
            knowledge and hands-on experience. From there, you can transition
            seamlessly into the Instrument Rating program, allowing you to take
            on more complex weather and flight paths.
          </p>
          <p class="pt-10">
            Our Commercial Pilot program will equip aspiring aviators with the
            skills needed for a successful career in flight. If you aspire to
            teach future pilots as well, you have the opportunity to undergo our
            Certified Flight Instructor (CFI) training to train the next
            generation of pilots in the greater El Paso area. Gain experience
            and start your career at Red Arrow Flight Academy.
          </p>
          <p class="pt-10">
            At Red Arrow, we have accelerated and flexible training programs to
            accommodate your unique schedule and goals. Each program will be a
            blend of simulator and hands-on training. Immerse yourself in a
            transformative learning experience that prepares you for a future in
            aviation. Many of our graduates have moved on to the airlines and
            other exciting career opportunities.
          </p>
        </div>
        <a href="/flight-programs/training-courses" class="">
          <div class="btn-red my-10">Explore Our Training</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 2 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row-reverse bg-gradient-to-br from-main-red to-red-900 text-white"
    id="here"
  >
    <div class="lg:w-1/2 flex flex-col items-center lg:py-10">
      <img
        src={DiscoveryFlightImage.src}
        alt="CFI and student pilot in front of a Cessna 172 at the Dona Ana County International Jetport (KDNA)"
        class="lg:mr-10"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-5 lg:px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          How to Become a Pilot
        </h2>
        <h3 class="pt-10 text-xl italic text-center">It’s as easy as 1-2-3!</h3>
        <div class="text-gray-100 tracking-wider">
          <p class="pt-10">
            Embark on the exciting journey to becoming a pilot with Red Arrow
            Flight Academy by following these structured steps:
          </p>
          <ol class="pt-10 list-decimal pl-10 flex flex-col gap-2">
            <li>
              <span class="font-semibold">Register Your Interest:</span> Enroll in
              Red Arrow's Private Pilot Program to receive comprehensive knowledge
              and hands-on experience guided by seasoned instructors.
            </li>
            <li>
              <span class="font-semibold">Learn the Ins-and-Outs:</span> Immerse
              yourself in hands-on flight training and Red Arrow's tailored ground
              school education, gaining expertise in navigation, weather patterns,
              and regulations.
            </li>
            <li>
              <span class="font-semibold">Pass the Exams:</span> Successfully complete
              the FAA written exam, a practical flight test with a FAA Designated
              Pilot Examiner (DPE), and receive your Private Pilot License. This
              achievement marks the beginning of further advancements in your aviation
              evolution.
            </li>
          </ol>
          <p class="pt-10">
            By choosing our structured approach to pilot training, you’ll soon
            be up in the air on your own, and closer to succeeding in your
            aviation goals than ever before.
          </p>
        </div>
        <a href="/discovery-flight" class="">
          <div class="btn-black my-10">Book a Discovery Flight</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 3 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row bg-gradient-to-br from-white to-gray-200"
  >
    <div class="lg:w-1/2 flex flex-col items-center lg:py-10">
      <img
        src={MilitaryProgramImage.src}
        alt="Fleet of Sikorsky CH-53K King Stallion helicopters over KDNA at Red Arrow Flight Academy"
        class="h-[500px] object-cover"
        loading="lazy"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-5 lg:px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          Our Military Programs
        </h2>
        <h3 class="pt-10 text-xl italic text-center">
          As the only Part 141 certified flight school in the region, we
          specialize in providing airplane pilot training programs for our
          military students.
        </h3>
        <div class="text-gray-800 tracking-wider">
          <p class="pt-10">
            At Red Arrow Flight Academy, we have the advantage of being the sole
            Part 141 flight school around, allowing us to offer unparalleled
            specialized programs and benefits to our students, especially those
            that have served in the military. Whether you're transitioning from
            military service to aviation or seeking additional certifications,
            our programs are designed to cater to your unique needs.
          </p>
          <p class="pt-10">For our military students:</p>
          <ul class="pt-10 list-disc pl-10 flex flex-col gap-2">
            <li>
              Military/Rotor Transition Programs: Tailored for individuals
              adding aviation qualifications to their military experience, these
              programs facilitate a seamless transition to civilian flight
              training.
            </li>
            <li>
              GI Bill Approved: Red Arrow proudly supports our military students
              by being GI Bill Approved, offering financial assistance to those
              eligible for educational benefits.
            </li>
            <li>
              Financing Options with the COOL Program (Open to Army/Air Force):
              Credentialing Assistance under the COOL Program provides financial
              support for education, empowering military students to pursue
              their aviation aspirations with grants ranging from $1,000 to
              $4,000 annually.
            </li>
          </ul>
          <p class="pt-10">Explore the options and learn more below.</p>
        </div>
        <a href="flight-programs/military-rotor-transition" class="">
          <div class="btn-red my-10">Visit Our Military Programs</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row-reverse bg-gradient-to-br from-main-red to-red-900 text-white"
  >
    <div class="lg:w-1/2 flex flex-col items-center lg:py-10">
      <img
        src={InternationalProgramImage.src}
        alt="Propeller plane flying above the El Paso mountains"
        class="h-[500px] object-cover"
        loading="lazy"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-5 lg:px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          International Students
        </h2>
        <h3 class="pt-10 text-xl italic text-center">
          For international students and foreign pilot licenses.
        </h3>
        <div class="text-gray-100 tracking-wider">
          <p class="pt-10">
            Red Arrow Flight Academy warmly welcomes international students too.
            Our International Program is thoughtfully crafted to provide a
            seamless experience for pilots from around the world.
          </p>
          <p class="pt-10">
            Just as with our domestic program, we offer a range of comprehensive
            training programs, including Private Pilot, Instrument Rating, and
            Commercial Pilot certifications. Our expert instructors,
            state-of-the-art fleet, and proven training methodologies ensure
            that international students receive top-notch education, preparing
            them for success in flying. Additionally, for those with existing
            pilot licenses, our streamlined process for converting foreign
            licenses to FAA certifications opens the door to further career
            opportunities in the United States.
          </p>
          <p class="pt-10">
            At Red Arrow, we understand the unique needs of international
            students. Our M-1 Visa and training request procedures have been
            designed to facilitate a smooth transition, allowing students to
            focus on their training without unnecessary bureaucratic hurdles.
            Join us at Red Arrow Flight Academy and start your journey to
            becoming a pilot, no matter where you’re from.
          </p>
        </div>
        <a href="/flight-programs/international-program">
          <div class="btn-black my-10 hidden lg:block">
            Explore Our International Options
          </div>
          <div class="btn-black my-10 lg:hidden">International Program</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 5 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row bg-gradient-to-br from-white to-gray-200"
  >
    <div class="lg:w-1/2 flex flex-col items-center lg:py-10">
      <img
        src={WeAreRedArrowImage.src}
        alt="The Red Arrow Academy Team at Dona Ana County International Jetport (KDNA)"
        class="h-[500px] object-cover"
        loading="lazy"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-5 lg:px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          We Are Red Arrow Flight Academy
        </h2>
        <h3 class="pt-10 text-xl italic text-center">
          Come get to know our elite team of CFIs and staff.
        </h3>
        <div class="text-gray-800 tracking-wider">
          <p class="pt-10">
            At Red Arrow Flight Academy, we are committed to professionally
            getting you into the air as fast and safely as possible. As a center
            for aviation training, we take pride in our global partnerships
            while remaining deeply to our locales of El Paso, Santa Teresa, Las
            Cruces, and surrounding areas.
          </p>
          <p class="pt-10">
            Our strategic alliances, including the collaboration with Purdue
            Global University, bring world-class education to aspiring pilots
            locally. This global perspective is seamlessly integrated into our
            international programs, where students from the region join a
            diverse cohort, fostering a rich learning environment. We even offer
            M-1 Visas for our international students.
          </p>
          <p class="pt-10">
            For local heroes transitioning from military service, our structured
            military programs offer a supportive and tailored approach to
            civilian aviation success. Red Arrow Flight Academy understands the
            unique skills and experiences military personnel bring to the table.
            Our programs acknowledge this background, easing the transition and
            ensuring a comprehensive training experience that aligns with their
            career aspirations.
          </p>
          <p class="pt-10">
            Guiding our local students through Part 61 programs is our team of
            highly qualified instructors, including a Designated Pilot Examiner
            (DPE). This ensures the highest standards in pilot training,
            proficiency, and successful outcomes.
          </p>
          <p class="pt-10">
            Beyond the cockpit, our dedication to continuous learning is
            reflected in our extracurricular "Learning Lesson" sessions,
            fostering local connections with other flight enthusiasts. Join us
            to experience the Red Arrow difference in your training today.
          </p>
        </div>
        <a href="/about/our-story" class="max-w-min">
          <div class="btn-red my-10">Why Red Arrow?</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Call to Action Banner -->
  <DiscoveryFlightCTA />

  <!-- Contact Us Form -->
  <ContactUs />
</HomeLayout>
