---
import HeaderLink from "./HeaderLink.astro";
const flightPrograms = [
  {
    name: "New to flying?",
    link: "/flight-programs/new-to-flying"
  },
  {
    name: "Training Courses",
    link: "/flight-programs/training-courses"
  },
  {
    name: "University Program",
    link: "/flight-programs/university-program"
  },
  {
    name: "International Program",
    link: "/flight-programs/international-program"
  },
  {
    name: "Military / Rotor Transition",
    link: "/flight-programs/military-rotor-transition"
  }
]

const resources = [
  {
    name: "FAA Exam Center",
    link: "/resources/faa-exam-center"
  },
  {
    name: "Financing",
    link: "/resources/financing"
  },
  {
    name: "Maintenance",
    link: "/resources/maintenance"
  }
]

const about = [
  {
    name: "Our Story",
    link: "/about/our-story"
  },
  {
    name: "Our Team",
    link: "/about/our-team"
  },
  {
    name: "Our Fleet",
    link: "/about/our-fleet"
  },
  {
    name: "Blog",
    link: "/about/blog"
  }
]
---

<nav class="bg-black">
  <div class="mx-auto flex max-w-[80rem] justify-between p-5">
    <a href="/" class="flex flex-shrink-0">
      <img src="/red-arrow-logo.webp" alt="Red Arrow Logo" class="h-20 flex-shrink-0">
    </a>
    <div class="flex gap-8 items-center">
      <div class="relative">
        <p class="flight-programs nav-link cursor-pointer text-xl text-white p-5 hover:border-b-2 border-main-red" data-link-container="flight-programs-links">Flight Programs</p>
        <ul class="flight-programs-links links-container absolute bg-white hidden p-5 flex-col gap-2 w-60">
          {flightPrograms.map((fp) => (
            <HeaderLink href={fp.link} class="hover:border-b-2 border-main-red">{fp.name}</HeaderLink>
          ))}
        </ul>
      </div>

      <div class="relative">
        <p class="resources nav-link cursor-pointer text-xl text-white p-5 hover:border-b-2 border-main-red" data-link-container="resources-links">Resources</p>
        <ul class="resources-links links-container absolute bg-white hidden p-5 flex-col gap-2 w-52">
          {resources.map((resource) => (
            <HeaderLink href={resource.link} class="hover:border-b-2 border-main-red">{resource.name}</HeaderLink>
          ))}
        </ul>
      </div>

      <div class="relative">
        <p class="about nav-link cursor-pointer text-xl text-white p-5 hover:border-b-2 border-main-red" data-link-container="about-links">About Us</p>
        <ul class="about-links links-container absolute bg-white hidden p-5 flex-col gap-2 w-36">
          {about.map((aboutLink) => (
            <HeaderLink href={aboutLink.link} class="hover:border-b-2 border-main-red">{aboutLink.name}</HeaderLink>
          ))}
        </ul>
      </div>

      <div class="relative">
        <p class="discovery nav-link cursor-pointer text-xl text-white p-5 hover:border-b-2 border-main-red">Discovery Flight</p>
      </div>

      <button class="btn-red">BOOK NOW</button>
    </div>
  </div>
</nav>

<script>
  import "../scripts/navbar.js";
</script>
